.team_block {
  background-color: lightblue;
  color: #1a1a1a;
  position: absolute;
  max-height: 350px;
  max-width: 200px;
  width: 100%;
  height: 100%;
  display: none;
  overflow-x: auto;
}

#team1 {
  top: 2em;
  left: 2em;
}

#team2 {
  top: 2em;
  right: 2em;
}

#team3 {
  bottom: 2em;
  left: 2em;
}

#team4 {
  bottom: 2em;
  right: 2em;
}
li {
  font-size: 16px;
}

.show-me {
  display: initial;
}
