.team_block {
    /*background-color: whitesmoke;*/
    color: whitesmoke;
    position: absolute;
    max-height: 345px;
    max-width: 250px;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
    scroll-behavior: smooth;
    padding-left: 0;
    margin: 0;
    border-radius: 10px;
}

#team1 {
    top: 2em;
    left: 2em;
}

#team2 {
    top: 2em;
    right: 2em;
}

#team3 {
    bottom: 2em;
    left: 2em;
}

#team4 {
    bottom: 2em;
    right: 2em;
}
li.header{
    position: fixed;
    text-shadow: 0 0 10px #1ffbfb;
    color: #231f20;
    font-weight: bold;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    text-align: center;
    width: 250px;
    padding: 0.2em 0;
}

li:nth-child(2){
    margin-top: 28px;
}

li {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    margin: 0;
    color: #231f20;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.2em 0 0 0.5em;
}

.show-me {
    display: initial;
}

