.team_block {
    color: whitesmoke;
    position: absolute;
    max-height: 380px;
    max-width: 360px;
    width: 100%;
    height: 100%;
    /*display: none;*/
    padding-left: 0;
    margin: 0;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.show-me {
    display: initial !important;
}

.team_block ul {
    display: none;
}

.top {
    top: 2em;
}

.left {
    left: 2em;
}

.bottom {
    bottom: 2em;
}

.right {
    right: 2em;
}

span.header {
    text-shadow: 0 0 10px #1ffbfb, 0 0 10px #1ffbfb;
    color: #231f20;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    text-align: center;
    display: block;
}

li {
    font-size: 26px;
    list-style: none;
    margin: 0;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.2em 0 0 0.5em;
}

ul {
    position: absolute;
    max-height: 340px;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}
